.photo-wrapper {
  width: 100%;
  max-height: 500px;
  height: 100vh; /* Make it fill the viewport height */
  position: relative;
  overflow: hidden;
}

.front-image {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition:
    opacity 1s ease,
    transform 0.5s ease;
}

.front-image.active {
  opacity: 1;
}

.front-image.animating {
  animation: zoomPan 10s ease-in-out infinite;
}

/*
@keyframes zoomPan {
  0% {
    transform: scale(1) translate(0, 0);
  }
  25% {
    transform: scale(1.1) translate(5%, 5%);
  }
  50% {
    transform: scale(1.2) translate(-5%, -5%);
  }
  75% {
    transform: scale(1.1) translate(-5%, 5%);
  }
  100% {
    transform: scale(1) translate(0, 0);
  }
}
*/
@keyframes zoomPan {
  0% {
    transform: scale(1) translate(0, 0);
  }
  100% {
    transform: scale(1.3);
  }
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.nav-button.left {
  left: 10px;
}

.nav-button.right {
  right: 10px;
}

.counter {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 10;
}
