@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import url("https://fonts.googleapis.com/css?family=Parisienne");
@import url("https://fonts.googleapis.com/css?family=Pacifico");


:root {
  --background-color: #FEFFD2;
  --darker-color: black;
  --dark-color: #FF7D29; 
  --other-color: #FFEEA9;
}
/*
:root {
  --background-color: #FEFFD2;
  --darker-color: #846b8a;
  --dark-color: #c98bb9; 
  --other-color: #f7d4bc;
}

:root {
  --background-color: #e5d9f2;
  --darker-color: black;
  --dark-color: #7371fc; 
  --other-color: #cdc1ff;
}
*/

html,
body,
#__next {
  margin: 0;
  padding: 0;
  background: var(--background-color);
  width: 100%;
  height: 100%;  
  color: var(--darker-color);
}

.container {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
  word-spacing: 4px;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
}

.photo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 668px;
  overflow: hidden;
  border-radius: 10px;
}

.front-image {
  width: 100%;
  height: auto;
  max-height: 668px;
  object-fit: contain;
  transition: opacity 0.5s;
  opacity: 1;  
}

.front-image.animating {
  animation: zoomPanFront 5.5s ease-in-out infinite;
  }
  
  @keyframes zoomPanFront {
    0% {
      transform: scale(1) translate(0, 0);
    }
    100% {
      transform: scale(1.1);
    }
  }
  

.fade-out {
  opacity: 0;
}

h1, h2 {
  text-align: center;
  font-weight: bold;
  padding: 20px;
}

hr {
  width: 20%;
  border: none; 
  border-top: 1px solid var(--dark-color);;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

button:not(
    .gallery-container button, 
    .content-subscribe button, 
    .content-blog button, 
    .donation-button-container button) {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border: 1px solid var(--dark-color);
  background-color: var(--other-color);
  border-radius: 10px;
  font-family: "Pacifico", sans-serif;
  color: var(--dark-color);
}

.content-subscribe button {
  border: none;
  border-radius: 6px;
  background-color: var(--other-color);
  cursor: pointer;
  font-family: "Helvetica", sans-serif;
  color: var(--dark-color);
  font-weight: 700;
  line-height: 23px;
  min-height: 40px;
}

.content-subscribe button {
  padding: 8px 16px;
  font-size: 16px;
}

.content-blog button {
  min-width: 200px;
  text-align: center;
}

.donation-button-container{
  text-align: center;
}

.donation-button-container button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 2rem;
}
/*
@media (max-width: 500px) {
  .content-gallery {
    flex-direction: column;
  }

  .donation-button-container {
    position: static;
    margin-top: 20px;
  }
}
*/
.ita {
  color: var(--dark-color);;
  font-style: italic;
}

.content-gallery {
  font-family: "Pacifico", sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center; 
  text-align: center; 
  position: relative;
}

@media (max-width: 440px) {
  .content-gallery {
    font-size: 1.2rem;
  }
}

.gallery-button {
  color: var(--dark-color);
  border-width: 1px;
  border-style: solid; 
  border-radius: 6px;
  background-color: var(--other-color);
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
  font-size: 1.5em;
  margin: 10px;
}
.gallery-button:hover {
  transform: scale(1.05);
}

.content-subscribe {
  display: flex;
  justify-content: center; 
  align-items: center;
  border-width: 5px;
  border-style:dashed; 
  border-radius: 25px;
  margin: 0px 20px;
  border-color: #FF7D29;
}

.column-1 {
  flex: 1;
  width: 100%;
  min-width: 350px; 
  box-sizing: border-box; 
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
}

.column-2 {
  flex: 2;
  width: 100%;
  min-width: 300px; 
  box-sizing: border-box; 
}

@media (max-width: 800px) {
  .content-subscribe {
    flex-direction: column;
  }
  .column-1, .column-2 {
    width: 100%;
  }
}

.brevo-form {
  width: 560px; 
  height: 330px; 
}

.content-blog{
  margin: 0px 20px;
}

.content-donation {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  display: none;
}

.content-donation.active {
  opacity: 1;
  display: block;
}

.footer {
  background-color: var(--other-color);
  color: var(--darker-color);
  padding: 20px;
  height: 100px;
  margin-top: 50px;
  margin-bottom: 0px;
}

.footer-spacer {
  margin: 30px 0;
}

.vert-space {
  margin-top: 50px;
  margin-bottom: 100px;
  line-height: 1.5;
}

.uk-flag,
.ita-flag {
  opacity: 0.5; /* Default opacity for both flags */
}

.uk-flag.active {
  opacity: 1; /* Full opacity for UK flag when isEnglish is true */
}

.ita-flag.active {
  opacity: 1; /* Full opacity for Italian flag when isEnglish is false */
}
