.header {
  position: relative;
  width: 100%;
  min-height: 300px;
  background-image: url("/lia-airport.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 2s ease;
}

.headertext {
  color: blue;
  font-size: 48px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 4s ease;
}
